body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  color: white; 
}

h2{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

p{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px auto;
}